USE [master]
GO
/****** Object:  Database [Gym Mangagement]    Script Date: 8/9/2025 11:24:04 PM ******/
CREATE DATABASE [Gym Mangagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gym Mangagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Gym Mangagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gym Mangagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Gym Mangagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gym Mangagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gym Mangagement]
GO
/****** Object:  Table [dbo].[ChiTietChucVu]    Script Date: 8/9/2025 11:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChucVu](
	[ID] [int] NOT NULL,
	[ChucVu] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ChiTietChucVu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGoiTap]    Script Date: 8/9/2025 11:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGoiTap](
	[ID] [int] NOT NULL,
	[ThoiGianGoi_Thang] [int] NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[GiaTriGoi] [bigint] NOT NULL,
 CONSTRAINT [PK_ChiTietGoiTap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHangThietBi]    Script Date: 8/9/2025 11:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHangThietBi](
	[ID] [int] NOT NULL,
	[TenHangThietBi] [nvarchar](100) NOT NULL,
	[DiaChiMuaHang] [nvarchar](1000) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_ChiTietHangThietBi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachNhanVien]    Script Date: 8/9/2025 11:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachNhanVien](
	[ID] [int] NOT NULL,
	[TenNhanVien] [nvarchar](1000) NOT NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[Luong] [money] NOT NULL,
	[NgayVao] [date] NOT NULL,
	[IDChucVu] [int] NOT NULL,
 CONSTRAINT [PK_DanhSachNhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachThietBi]    Script Date: 8/9/2025 11:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachThietBi](
	[ID] [int] NOT NULL,
	[TenThietBi] [nvarchar](1000) NOT NULL,
	[IDHangSanXuat] [int] NOT NULL,
	[ThoiGianMua] [date] NOT NULL,
	[ThoiGianBaoDuong] [date] NOT NULL,
	[KhaNangHoatDong] [bit] NULL,
 CONSTRAINT [PK_DanhSachThietBi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 8/9/2025 11:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IDHoaDon] [int] NOT NULL,
	[IDHocVien] [int] NOT NULL,
	[KhuyenMai] [money] NULL,
	[SoTienThu] [money] NOT NULL,
	[NgayTra] [date] NOT NULL,
	[IDGoiDangKy] [int] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[IDHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocVien]    Script Date: 8/9/2025 11:24:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVien](
	[ID] [int] NOT NULL,
	[Ten] [nvarchar](1000) NOT NULL,
	[SDT] [nvarchar](10) NULL,
	[NgayDangKy] [smalldatetime] NOT NULL,
	[NgayKetThuc] [smalldatetime] NOT NULL,
	[IDThe] [nvarchar](5) NOT NULL,
	[IDGoiTap] [int] NOT NULL,
 CONSTRAINT [PK_HocVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietChucVu] ([ID], [ChucVu], [MoTa]) VALUES (1, N'Quản lý', N'Quản lý phòng tập, thiết bị,nhân viên')
INSERT [dbo].[ChiTietChucVu] ([ID], [ChucVu], [MoTa]) VALUES (2, N'Thu Ngân', N'Đăng ký, hướng dẫn hội viên')
INSERT [dbo].[ChiTietChucVu] ([ID], [ChucVu], [MoTa]) VALUES (3, N'Vệ Sinh', N'Vệ sinh phòg tập')
GO
INSERT [dbo].[ChiTietGoiTap] ([ID], [ThoiGianGoi_Thang], [MoTa], [GiaTriGoi]) VALUES (1, 1, N'gói tập 1 tháng', 279000)
INSERT [dbo].[ChiTietGoiTap] ([ID], [ThoiGianGoi_Thang], [MoTa], [GiaTriGoi]) VALUES (2, 3, N'gói tập 3 tháng', 679000)
INSERT [dbo].[ChiTietGoiTap] ([ID], [ThoiGianGoi_Thang], [MoTa], [GiaTriGoi]) VALUES (3, 6, N'gói tập 6 tháng', 1099000)
GO
INSERT [dbo].[ChiTietHangThietBi] ([ID], [TenHangThietBi], [DiaChiMuaHang], [SDT]) VALUES (1, N'TechNoGym', N'07,Tôn Đức Thắng,Bến Nghé,TP HCM', N'0912233789')
INSERT [dbo].[ChiTietHangThietBi] ([ID], [TenHangThietBi], [DiaChiMuaHang], [SDT]) VALUES (2, N'Humanity', N'12,Đinh Tiên Hoàng, Quận 1,TP HCM', N'0928382938')
INSERT [dbo].[ChiTietHangThietBi] ([ID], [TenHangThietBi], [DiaChiMuaHang], [SDT]) VALUES (3, N'HiaMusscle', N'3635,Nguyễn Hữu Thọ, Đà Nẵng', N'0969775170')
GO
INSERT [dbo].[DanhSachNhanVien] ([ID], [TenNhanVien], [NgaySinh], [SDT], [Luong], [NgayVao], [IDChucVu]) VALUES (1, N'Nguyễn Thái Hà', CAST(N'1997-04-12' AS Date), N'083212522', 12000000.0000, CAST(N'2020-01-10' AS Date), 1)
INSERT [dbo].[DanhSachNhanVien] ([ID], [TenNhanVien], [NgaySinh], [SDT], [Luong], [NgayVao], [IDChucVu]) VALUES (2, N'Lê Hồ Anh Tiến', CAST(N'2005-12-02' AS Date), N'082312322', 7000000.0000, CAST(N'2023-07-02' AS Date), 2)
INSERT [dbo].[DanhSachNhanVien] ([ID], [TenNhanVien], [NgaySinh], [SDT], [Luong], [NgayVao], [IDChucVu]) VALUES (3, N'Nguyễn Đình Hiếu', CAST(N'2005-07-24' AS Date), N'082143123', 8500000.0000, CAST(N'2022-08-10' AS Date), 3)
GO
INSERT [dbo].[DanhSachThietBi] ([ID], [TenThietBi], [IDHangSanXuat], [ThoiGianMua], [ThoiGianBaoDuong], [KhaNangHoatDong]) VALUES (1, N'Bộ Thiết bị Cable đa năng', 1, CAST(N'2021-05-01' AS Date), CAST(N'2022-05-01' AS Date), 1)
INSERT [dbo].[DanhSachThietBi] ([ID], [TenThietBi], [IDHangSanXuat], [ThoiGianMua], [ThoiGianBaoDuong], [KhaNangHoatDong]) VALUES (2, N'Máy chạy bộ', 2, CAST(N'2022-08-10' AS Date), CAST(N'2023-08-10' AS Date), 1)
GO
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDHocVien], [KhuyenMai], [SoTienThu], [NgayTra], [IDGoiDangKy]) VALUES (1, 1, NULL, 279000.0000, CAST(N'2023-10-27' AS Date), 1)
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDHocVien], [KhuyenMai], [SoTienThu], [NgayTra], [IDGoiDangKy]) VALUES (2, 2, 30000.0000, 1069000.0000, CAST(N'2024-11-01' AS Date), 3)
INSERT [dbo].[HoaDon] ([IDHoaDon], [IDHocVien], [KhuyenMai], [SoTienThu], [NgayTra], [IDGoiDangKy]) VALUES (3, 3, 79000.0000, 600000.0000, CAST(N'2025-08-01' AS Date), 2)
GO
INSERT [dbo].[HocVien] ([ID], [Ten], [SDT], [NgayDangKy], [NgayKetThuc], [IDThe], [IDGoiTap]) VALUES (1, N'Nguyễn Đình Naruto', N'083242323', CAST(N'2023-10-27T10:00:00' AS SmallDateTime), CAST(N'2024-10-27T10:00:00' AS SmallDateTime), N'B0001', 1)
INSERT [dbo].[HocVien] ([ID], [Ten], [SDT], [NgayDangKy], [NgayKetThuc], [IDThe], [IDGoiTap]) VALUES (2, N'Nguyễn Đình Ymir', N'072312124', CAST(N'2024-11-01T11:30:00' AS SmallDateTime), CAST(N'2025-05-01T11:30:00' AS SmallDateTime), N'B0002', 3)
INSERT [dbo].[HocVien] ([ID], [Ten], [SDT], [NgayDangKy], [NgayKetThuc], [IDThe], [IDGoiTap]) VALUES (3, N'Cao Thiên Nausica', N'082341232', CAST(N'2025-08-01T11:30:00' AS SmallDateTime), CAST(N'2025-12-01T11:30:00' AS SmallDateTime), N'B0003', 2)
GO
ALTER TABLE [dbo].[DanhSachNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachNhanVien_ChiTietChucVu] FOREIGN KEY([IDChucVu])
REFERENCES [dbo].[ChiTietChucVu] ([ID])
GO
ALTER TABLE [dbo].[DanhSachNhanVien] CHECK CONSTRAINT [FK_DanhSachNhanVien_ChiTietChucVu]
GO
ALTER TABLE [dbo].[DanhSachThietBi]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachThietBi_ChiTietHangThietBi] FOREIGN KEY([IDHangSanXuat])
REFERENCES [dbo].[ChiTietHangThietBi] ([ID])
GO
ALTER TABLE [dbo].[DanhSachThietBi] CHECK CONSTRAINT [FK_DanhSachThietBi_ChiTietHangThietBi]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_ChiTietGoiTap] FOREIGN KEY([IDGoiDangKy])
REFERENCES [dbo].[ChiTietGoiTap] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_ChiTietGoiTap]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HocVien] FOREIGN KEY([IDHocVien])
REFERENCES [dbo].[HocVien] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HocVien]
GO
ALTER TABLE [dbo].[HocVien]  WITH CHECK ADD  CONSTRAINT [FK_HocVien_ChiTietGoiTap] FOREIGN KEY([IDGoiTap])
REFERENCES [dbo].[ChiTietGoiTap] ([ID])
GO
ALTER TABLE [dbo].[HocVien] CHECK CONSTRAINT [FK_HocVien_ChiTietGoiTap]
GO
USE [master]
GO
